body{  
background-color: pink;
color: purple;
display:flex ;
justify-content: center;
align-items: center;
} 
main{
    text-align: center;
    max-width: 90%;
}
button{
    background-color: pink;
    color: black;
    padding: 20px;
}


.img01{
    width:50%
}
.passo{
display:none;
}
.passo.ativo{
    display:block;
}